<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Drag & Drop List</title>
  <link rel="stylesheet" type="text/css" href="./lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./src/main/app/css/app.css">
</head>
<body ng-controller="ListCtrl">
  <div id="content">
    <header align="center">
      <h1>Drag & Drop List</h1>
    </header>
    <div class="section" align="center">


      <input type="text" class="form-control" name="" ng-model="newone" maxlength="25" ng-class="{'error-value': showError}" ng-focus="clearFocus()"/>
      <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
      <button type="button" class="btn btn-danger" ng-click="clearAll()">Clear All</button>
      <ul dnd-list="list" class="ul-dragable list">
        <li><h2>LIST</h2></li>
        <li ng-repeat="item in list"
        dnd-draggable="item"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="all"
        dnd-selected="selected = item"
        ng-class="{'selected': selected === item}"
        class="dragable-li" 
        dnd-dragend="updateIndexes()"
        ng-show="$index >= from && $index < to">
          <strong ng-show="editable !== item.id">{{item.label}}</strong>
          <input ng-show="editable === item.id" type="text" class="form-control" name="" maxlength="25" ng-model="item.label" ng-blur="edit(item)"/>
          <button type="button" class="btn btn-danger delete" ng-click="remove(item.id)">Delete</button>
          <button ng-show="editable !== item.id" type="button" class="btn btn-info edit" ng-click="setEditable(item.id)">Edit</button>
        </li>
        <li ng-show="pages.length > 1">
          <ul class="pagination">
            <li ng-repeat="n in pages track by $index"
            ng-class="{active: ($index + 1) == currentPage}"
            ng-click="showPage($index)">
              <a href >{{$index + 1}}</a>
            </li>
          </ul>
        </li>
      </ul>

      <div dnd-list="folder" class="dragable-wrapper" draggable>
        <div>
          <h1 id="folder">Folder</h1>
        </div>
        <ul dnd-list="folder" class="folder ul-dragable">
          <li><p>Warning! Content inside this folder will not be save!</p></li>
          <li ng-repeat="item in folder"
          dnd-draggable="item"
          dnd-moved="folder.splice($index, 1)"
          dnd-effect-allowed="all"
          dnd-selected="selected = item"
          ng-class="{'selected': selected === item}"
          class="dragable-li" 
          dnd-dragend="updateIndexes()">
            {{item.label}}
          </li>

        </ul>
      </div>
    </div>
    <footer align="center">
      <p>Created by <a href="mailto:joel.corrales@outlook.com">Joel Corrales</a></p>
    </footer>
  <div>
  <script src="./lib/angular/angular.min.js"></script>
  <script src="./lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
  <script src="./lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="./lib/lodash/dist/lodash.min.js"></script>
  <script src="./src/main/app/js/app.js"></script>
  <script src="./src/main/app/js/controller.js"></script>
  <script src="./src/main/app/js/directives.js"></script>
  <script src="./src/main/app/js/service.js"></script>
</body>
</html>