<div align="center" class="game-over">
	<h1>Game Over</h1>
	<br/>
	<button type="button" class="btn btn-default" ng-click="initiateGame()">Play Again</button>
	<button type="button" class="btn btn-default" ng-click="goToSelection()">Return to Selection Menu</button>
</div>