<div align="center" class="game-over">
	<h1>Congratulations!</h1>

	<p>You finish the game successfully, what would you like to do now?</p>
	<br/>
	<button type="button" class="btn btn-default" ng-click="initiateGame()">Play Again</button>
	<button type="button" class="btn btn-default" ng-click="goToSelection()">Return to Selection Menu</button>
</div>