/**
*  Page
*/

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html * {
  padding: 0px;
  margin: 0px;
  font-family: 'Gotham A', 'Gotham B', 'Source Sans Pro', sans-serif;
}

#content {
  position: relative;
  height:100%;
  width: 100%;
  background: #FFF;
}

header {
  background: #2cadc2;
  padding: 10px 0px 10px 0px;
  color: #FFF;
}

.section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 0px 0px 0px;
  min-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: #2cadc2;
}

footer * {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
}

.dragable-li {
  border-radius: 8px;
  border: 3px solid #dddddd;
  color: #000000;
  height: 50px;
  line-height: 50px;
  margin: 8px;
  font-size: 25px;
  max-width: 500px;
  min-width: 300px;
}

.dragable-wrapper {
  overflow-y: scroll;
  position: absolute;
  padding: 0px;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  background: #77bc1f;
  color: #FFF;
  width: 300px;
  height: 300px;
}

#folder {
  cursor: move;
  border-bottom: 2px solid #ffffff;
}

.folder .dragable-li {
  color: #ffffff;
  width: 100px;
  max-width: 200px;
  min-width: 200px;
}

.folder li p {
  border-radius: 5px;
  background: #fff;
  color: red;
}

.ul-dragable li {
  list-style-type: none;
}

.list.ul-dragable{
  padding: 15px;
  border-radius: 5px;
  border: 3px solid #2cadc2;
  list-style-type: none;
  margin: 15px 0 15px 0;
  min-width: 500px;
  max-width: 600px;
  min-height: 105px;
}

.folder.ul-dragable{
  padding: 10px;
}

.form-control {
  width: 50%;
  display: inline-block;
  margin: 0 10px;
  max-width: 350px;
  min-width: 200px;
}

.delete, .edit {
  float: right;
  margin: 5px;
}


.container-element {
  margin: 10px;
}

.container-element .column {
  float: left;
  width: 50%;
}

.error-value { 
    outline: none;
    border-color: red;
    box-shadow: 0 0 10px red;
}